<div class="col-md-12 newcomment">
        <div class="col-xs-3 col-sm-2 col-md-1 avatar">
            <img src="" alt="" class="">
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11 email">
            <input ng-model="$ctrl.email" type="text" placeholder="e-mail"/>
        </div>
        <div class=" col-md-11 commentbody">
            <textarea ng-model="$ctrl.comment" placeholder="Write your comment"></textarea>
        </div>
        <div class="col-md-12 submitbutton">
            <button ng-click="$ctrl.add()">ADD</button>
        </div>
</div>